<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.springCloud.payment.dao.PaymentDao">
    
    <resultMap id="resultMap" type="com.study.springCloud.commons.bean.Payment">
        <id column="id" property="id" />
        <id column="serial" property="serial" />
    </resultMap>

    
    <insert id="createPayment" parameterType="com.study.springCloud.commons.bean.Payment" useGeneratedKeys="true" >
       insert into payment(serial) values (#{serial})
    </insert>
    
    <select id="getPaymentById" resultMap="resultMap">
        select * from payment where id =#{id}
    </select>
    
</mapper>